node_modules
dist
*.log
*.mp3
*.wav
vosk-model/*
!vosk-model/vosk-model-small-hi-0.4/  # optional: keep model locally
uploads/
transcriber/vosk-model/
transcribe.py
test.py
app.py
transcriber/app.py
transcriber\app.py
transcriber\requirements.txt
requirements.txt